@media (max-width: 375px){

body{




}

#teste{
  position: relative;
    overflow:hidden;
    width: 300px;
    height: 500px;
    
    float: right;
    top:-100px;
  
}

#teste2{
  background-image: linear-gradient(rgb(255, 82, 191),rgb(154, 82, 255));
  width: 300px;
  height: 400px;
  border-radius: 100px 0px 0px 0px;/*Esquerda-S Direita-Superior Direita-Baixo Esquerda-Baixo*/
  position: absolute;
  top: 10px;
  left:190px; 
  transform: skewX(30deg); 

}

}